body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header{
    text-align: center;
    color: #00B9AE;
}

h2 {
    margin-bottom: 20px;
    color: #037171;
    padding-bottom: 3%;
}

#nameCheckboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

#nameCheckboxes label {
    width: 26%;
    height: 5%;
    margin: 0 0 10px 20px;
    display: flex;
    align-items: center;
    color: #009F93;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

#result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #02C3BD;
}

#clickCount {
    margin-top: 10px;
    font-size: 18px;
    color: #777;
}